<footer>
    <div style="width: 400px;"></div>
    <div class="social-media">
        <a href="#"><img src="images/facebook.png" alt=""></a>
        <a href="#"><img src="images/twitter.png" alt=""></a>
        <a href="#" id="youtube"><img src="images/youtube.png" alt=""></a>
        <a href="#" id="instagram"><img src="images/instagram.png" alt=""></a>
    </div>
    <div style="width: 400px;"></div>
    <div class="copy-right-policy">
        <div class="copy-right">
            <a href="#">Copyright &copy <%= new Date().getFullYear() %> Busa Adharsh</a>
        </div>
        <div class="policy">
            <a href="#">Privacy Policy</a>
        </div>
    </div>
</footer>
</body>

</html>