<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Football</title>
</head>
<body>
    <nav>
        <div class="logo">
            <h1>TOBI</h1>
        </div>
        <div class="nav_items">
            <div class="nav_items">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
        </div>
    </nav>
    <div class="icons">
        <form action="/icons" method="post">
            <button class="icn-btn" value="habits" name="icon"><img src="/images/habits.png" alt="habits"></button><br>
            <button class="icn-btn" value="football" name="icon"><img src="/images/pngfind.com-champion-logo-png-957103.png" alt="football"></button>
        </form>
    </div>
    